.formProducto {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.tituloForm {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.formLabel {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    font-size: 0.9rem;
}

.formInput {
    padding: 0.8rem 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.formInput:focus {
    border-color: #ff8cbf; /* Un rosa suave para el foco */
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 140, 191, 0.25);
}

.formProducto button {
    padding: 0.9rem 1.5rem;
    background-color: #ff69b4; /* Rosa característico */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.formProducto button:hover {
    background-color: #ff8cbf; /* Un rosa más claro al pasar el mouse */
}

.loginContainer {
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
    height: auto;
    background-color: #d1cdcd;
}
.loginContainerH1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}