body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff0f6;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("src/assets/imagenes/fondo_mis_princesas.jpg");
    background-size: cover;
    background-position: center;

}